/*This is the CSS page for our final template.*/

.footer p {
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold; color: white;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #15607a;

}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
}
p {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;

}